
.selection {
    padding: 60px 0;
    background: linear-gradient(to right, rgba(74, 108, 30, 1) 0%, rgba(109, 151, 48, 1) 100%);
    color: white;
}

.selectionContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    word-break: break-word;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.container {
}

.selectionLeft {
    width: 50%;
}

.selectionRight {
    width: 50%;
    color: black;

    background-color: #fff;
    border-radius: 8px;
    padding: 50px 73px 50px 72px;
}

.secondTitle h3{
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

.container > img {
    max-width: 100%;
}

.container > ul {
    padding-left: 10px;
}

.container > ul li {
    padding-left: 5px;
}

.container > ul li::marker {
    content: attr(data-emoji);
    text-shadow: -2px 2px 1px #0000009c;
    font-size: 25px;
}

@media (max-width: 1200px) {
    .selectionContent {
        flex-wrap: wrap
    }

    .selectionRight {
        margin-top: 20px;
        padding: calc(5%);
    }

    .selectionLeft, .selectionRight {
        width: 90%
    }
}