body {
    font-size: 1.1em;
    font-family: "San Francisco", sans-serif;
    font-style: normal;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

button {
    display: block;
    width: 100%;

    color: #fff;
    font-size: inherit;
    font-weight: bold;
    text-align: center;

    padding: 19px;
    margin-top: 15px;
    margin-bottom: 10px;


    border-radius: 8px;
    border: 0;
    background: linear-gradient(to right, rgba(74, 108, 30, 1) 0%, rgba(109, 151, 48, 1) 100%);
    text-decoration: none;

    transition: all 0.3s ease;
}
button:hover {
    cursor: pointer;
    background: rgba(0,0,0,0);
    color: rgba(109, 151, 48, 1);
    box-shadow: inset 0 0 0 3px rgba(109, 151, 48, 1);
}

.secondTitle span{
    color: #e65f78
}
.secondTitle h2{
    font-weight: bold;
    font-size: 30px;
}

input, textarea {
    width: 80%;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    padding: 10px;
}

hr{
    height: 2px;
    background: white;
    border: none;
}